@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Caveat:wght@400;500&family=Kaushan+Script&family=MonteCarlo&family=Montserrat:ital,wght@0,200;0,300;0,500;1,100;1,300&family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@200;300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,700&family=Raleway:ital,wght@0,200;1,100&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech&family=Silkscreen&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
/* 
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*  styling scrollbars  */
/* ::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* html,
 body {
  height: 100%;
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   color: var(--clr-white);
 }

 img,
 picture {
   max-width: 100%;
 }

 :root {
   --clr-white: rgba(255, 255, 255, 0.603);
   --clr-black: rgb(0, 0, 0);
   --clr-cream: rgb(245, 222, 179);
   --clr-glass: 19, 97%, 83%, 0.365;
   --clr-glass-light: 19, 77%, 83%, 0.345;
   --clr-glass-dark: 39, 47%, 89%, 0.110;
   --clr-glass-font: 39, 47%, 89%, 0.210;
   --clr-glass-blank: 0, 0%, 0%, 0.062;
 } */
/* 
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #c1c1c1;
} */ 




  /* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
{
    /* {!["/admin", "/user", "/employee"].includes(location.pathname) && <Navbar />} */
  }
.App {
  height: 100vh;
  background-color: #2d3436;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

.App svg {
  margin: 0 5px;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 600;
  width: 35px;
  height: 35px;
}

.App p {
  padding-top: 5px;
  margin: 0 5px;
  text-transform: capitalize;
  font-weight: 600;
}