/* body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* input:invalid {
  border: 2px dashed red;
} */

/* input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
} */

/* input:valid {
  border: 2px solid black;
} */

input[type="email"],
input[type="password"],
fieldset {
  /* border: 1px solid #333; */
  /* -moz-box-shadow: none; */
  box-sizing: border-box;
}

input:required:invalid {
  box-shadow: 0 0 2px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

input:required:valid {
  box-shadow: 0 0 2px 1px green;
}

.outcard {
  padding: 25px;
  margin-left: 25%;
  width: 50%;
  box-shadow: 0 1px 2px 1px #ddd;
  border-radius: 3px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  /* font-family: Kaushan Script; */
}

.pas-inputs{
  margin-left: 1%;
  width: 90%;
  color: #000;
  border: 1px solid #ccc; 
  border-radius: 3px;
  padding: 10px 10px;
}

.btns {
    background-color: #f2f2f2;
    color: #000;
    border-color: 2px solid #000;
    width: 30%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 5px 5px;
    font-size: 1rem;
}
  
.btns:hover {
  background-color: #000;
  color: #fff;
}
  
  .center{
     text-align: center;
  }