
button {
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 420px;
    outline: 0;
    padding: 10px 0;
    transition: background 0.3s;
    width: 20px;
  }
  
  button.primary {
    background: #000000;
    width: 40%;
  }
  button.primary:hover {
    background: #fff;
    color: #000;
    border-color: 2px solid #000;
  }
  
  button.secondary {
    background: #c1d7aa;
  }
  button.secondary:hover {
    background: #a8c787;
  }
  